<footer>
    <p class="message">This app is brought to to you by hard-work and try-and-fail. Be aware that it has a lot more work and optimization as it's my first app in Angular.
        Nevertheles, I hope ypu enjoy it :D .
    </p>
    <ul class="features">
        <li>
            <a href="#">lkkjhjhg</a>
        </li>
        <li>
            <a href="#">iyiyf</a>
        </li>
        <li>
            <a href="#">vxcvxvx</a>
        </li>
        <li>
            <a href="#">ppyteqwes</a>
        </li>
    </ul>
    <ul class="more">
        <li>
            <a href="#">dsadsa</a>
        </li>
        <li>
            <a href="#">dsadadfds</a>
        </li>
        <li>
            <a href="#">fdsffgtjhg</a>
        </li>
        <li>
            <a href="#">bvnfwmq</a>
        </li>
    </ul>
    <div class="contact d-flex flex-row justify-content-around dense">
        <fa-icon [icon]="faFacebook"></fa-icon>
        <fa-icon [icon]="faInsta"></fa-icon>
        <fa-icon [icon]="faTwitter"></fa-icon>
        <fa-icon [icon]="faLinkedin"></fa-icon>
    </div>
</footer>