<form class="bg-light w-100" (ngSubmit)="submit()">
  <div class="form-group col-md-10">
    <label for="inputTask">Task</label>
    <input type="text" class="form-control" id="inputTask" name="task" [(ngModel)]="task" placeholder="My task ...">
  </div>
  <div class="form-group row">
    <div class="form-group row col-md-4">
      <label for="inputDate">Date</label>
      <input type="date" name="date" [(ngModel)]="date" class="form-control" id="inputDate" placeholder="Date goes here">
      <span> Selected date: {{date | date}}</span>
    </div>
    <div class="form-group col-md-2">
      <label for="time">Time</label>
      <input type="time" name="time" [(ngModel)]="time" class="form-control" id="time">
    </div>
  </div><br>
  <button type="submit" value="save Task" class="btn btn-primary">Add</button><br><br>
</form>
<br>
        <!--
<form class="add-form" (ngSubmit)="submit()">
      <span class="input-group-text" id="inputGroup-sizing-default">Task</span>
        <input type="text" class="form-control" aria-label="default" aria-describedby="inputgroup-sizing-default" name="task" [(ngModel)]="task" id="task" placeholder="Add task here"></div>
        <label for="date">Date: </label>
        <input type="date" name="date" [(ngModel)]="date" id="date" class="pdate" placeholder="Date"><br/><br/>
        <span> Selected date: {{date | date}}</span>
        <label for="time" title="Note:If you don't want to set an specefic time, just type in: --:--">Time</label>
        <input type="time" name="time" [(ngModel)]="time" id="time" placeholder="HH:MM">
        <i class="fas fa-calendar-alt"></i>
    <input type="submit" value="Save Task" class="submit">

  </div>
        -->
