#git {
    margin-top: 30px;
    margin-left: 3px;
}

h4 {
    font-weight: bolder;
    font-size: larger;
    display: inline-flex;
    position: relative;
    box-sizing: border-box;
    margin-left: 10%;
    color: rgb(218, 218, 218);
}

footer {
    position: relative;
    /*border-top-left-radius: 31px;
    border-top-right-radius: 31px;*/
}

.whole {
    background-color: rgb(128, 128, 128, 0.8);
    padding-top: -5px;
    border-top: 1px solid rgb(224, 212, 212);
}

#git {
    opacity: 1;
    position: relative;
}

.content {
    opacity: 1;
    width: 33%;
    height: 100%;
}

.rights {
    float: right;
    position: relative;
}
