  <body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
  </header>

  <main class="px-3">
    <h1>{{ title }}</h1>
    <p class="lead">This is a Web application for creating simple yet useful To do list. Type your work, set a date, and set a time for that specific task so life will go easier on you.</p>
    <h2>Welcome</h2>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>



  </body>
