<div class="d-flex ol-md-9 ms-md-auto col-lg-10 px-md-1 text-center text-dark bg-white">

  <div class="cover-container d-flex w-100 h-100 flex-column">

  <main class="px-3 col align-self-center">
    <h1 class="display-1 mb-5">{{ title }}</h1>
    <h2 class="display-5">Welcome</h2>
  </main>

  <footer class="my-auto pb-5 text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>


</div>
