.button {
    border-radius: 25px 25px 25px 25px;
    border-width: 1px;
    position: relative;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 7px;
    margin-left: 10px;
}

.button:hover {
    background-color: rgb(32, 218, 57);
    border: solid;
    border-width: 1px;
}

/*.button:focus-within {
    background-color: gold;
    color: brown;
}*/