/*h2 {
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
  color: yellowgreen;
  border: double 6px salmon;
  margin-left: 30%;
  margin-right: 30%;
}

.header {
  border-style: groove;
  border-radius: 21px;
  border-width: 2px;
  border-color: darkseagreen;
  background-image: url("https://images.unsplash.com/photo-1458324124043-7803d4fec380?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=df280ed170d2a9e25506f2d3db42f4f9");
}*/

* {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

html {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #6b6b6b;
  overflow-x: hidden;
}

a,
button {
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
}

.tm-bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.5);
}

.tm-bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.8);
}

.tm-bg-green {
  background-color: #98cb00;
}

.tm-bg-orange {
  background-color: #cc6733;
}

.tm-bg-blue {
  background-color: #3398cc;
}

.tm-bg-dark-gray {
  background-color: #676767;
}


#tmWelcome {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 0px;
}

.tm-brand-container-outer {
  margin-top: -400px;
  width: 100%;
}

.tm-brand-container-inner {
  max-width: 580px;
  width: 100%;
}

.tm-brand-container {
  padding: 75px 110px;
}

.tm-brand-name {
  font-size: 3.8rem;
}

.tm-brand-description {
  font-size: 1.4rem;
}

.parallax-window {
  min-height: 1100px;
  background: transparent;
  width: 100%;
}

#tmContact {
  min-height: 1197px;
}

.tm-welcome-container {
  min-height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.tm-welcome-title {
  margin-bottom: 40px;
}

.tm-welcome-left {
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tm-welcome-left-col {
  display: flex;
  align-items: center;
}

.tm-welcome-right {
  color: white;
  background-color: #aa5857;
  padding: 80px 43px 70px;
  height: 100%;
}

.tm-welcome-icon {
  margin-bottom: 50px;
  display: block;
  text-align: center;
}

.navtop {
  background-color: #333;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  padding-right: 100%;
}

.navtop a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 50%;
  padding-left: 5%;
  display: inline;
  text-decoration: none;
  width: 100%;
  font-size: 17px;
}

.navtop a:hover {
  background-color: #ddd;
  color: black;
}

.navtop a.active {
  background-color: #04AA6D;
  color: white;
}

.log {
  padding-right: inherit;
  width: 40%;
}

#p {
  margin-bottom: 0px;
}

.outlet {
  width: 100vw;
}