h2 {
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
  color: yellowgreen;
  border: double 6px salmon;
  margin-left: 30%;
  margin-right: 30%;
}

.header {
  border-style: groove;
  border-radius: 21px;
  border-width: 2px;
  border-color: darkseagreen;
  background-image: url("https://images.unsplash.com/photo-1458324124043-7803d4fec380?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=df280ed170d2a9e25506f2d3db42f4f9");
}