    <li class="list-group-item d-flex text-break text-white bg-secondary">
          <div class="fw-bold pe-2 mw-30">{{ task.task }}</div>
          <p class="ps-2">{{ task.date | date }}</p>
          <p class="text-bold ps-2 pe-2">Time: <span>{{ task.time}}</span></p>
          <div class="box d-grid position-absolute top-0 end-0">
            <!-- <fa-icon class="pe-1" [icon]="faTimes" [ngStyle]="{'color': 'red'}" (click)="(deleteTask(task))"></fa-icon> -->
            <fa-icon class="psuedo" [icon]="faCheck" [ngStyle]="{'color': 'lightgreen'}" (click)="(completeTask(task))" title="Complete"></fa-icon>
          </div>
    </li>
