    <li class="list-group-item d-flex text-break text-white bg-secondary">
          <div class="fw-bold pe-2 mw-30">{{ task.task }}</div>
          <p class="ps-2">{{ task.date | date }}</p>
          <p class="text-bold ps-2 pe-2">Time: <span>{{ task.time}}</span></p>
          <div class="box d-grid position-absolute top-0 end-0">
            <button class="btn w-5 h-20 border-0" (click)="(completeTask(task))" [disabled]="clickCount > completeTaskCount" title="Complete">
              <fa-icon [icon]="faCheck" [ngStyle]="{'color' : 'lightgreen'}"></fa-icon>
            </button>
          </div>
    </li>
