/* .container-fluid {
    width: 100%;
    margin-bottom: 100px;
  }

  .tm-brand-description {
    font-size: 1.4rem;
  }

  .tm-welcome-container {
    min-height: 400px;
    position:relative;
    left: 0;
    top: 20%;
    width: 100%;
    display: flex;
    align-items: stretch;
    color:rgb(231, 231, 231)
  }

  .tm-welcome-title {
    margin-bottom: 40px;
  }

  .tm-welcome-left {
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tm-welcome-left-col {
    display: flex;
    align-items: center;
  }

  .tm-welcome-right {
    color: white;
    background-color: #aa5857;
    padding: 80px 43px 70px;
    height: 100%;
  }

.descrip p {
  font-size: large;
  font-weight: bolder;
}

.descrip a {
  color:cornflowerblue
}

.h-100 {
  min-height: 80vh;
} */
