/*.full-image-wrap {
    min-height: 100%;
    overflow: hidden;
    position: absolute;
  }*/
  
  .form {
    margin: 20px 0;
  }
  
  .form label {
    display: block;
  }

  .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
  }

  body {
    margin-bottom: 0%;
    width: 100%;
  }

  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
    overflow-x: hidden;
  }
  
  a,
  button {
    transition: all 0.3s ease;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  .container-fluid {
    max-width: 1200px;
  }
  
  .tm-bg-black-transparent {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .tm-bg-white-transparent {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .tm-bg-green {
    background-color: #98cb00;
  }
  
  .tm-bg-orange {
    background-color: #cc6733;
  }
  
  .tm-bg-blue {
    background-color: #3398cc;
  }
  
  .tm-bg-dark-gray {
    background-color: #676767;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
